<template>
  <div class="content-container">
    <DataTableCard
      :cardTitle="'Incident Reports'"
      :data="this.incidentReports"
      :dataModel="irModel"
      @rowClick="handleIRRowClick"
      @idClick="handleIDClick"
    />
    <DataTableCard
      :cardTitle="'Recent Rides'"
      :data="this.rides"
      :dataModel="rideModel"
      @rowClick="handleRideRowClick"
      @idClick="handleIDClick"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import IncidentReportModel from '../models/IncidentReport';
import RideModel from '../models/Ride';
import routeByID from '../router/routeByID';
import DataTableCard from '@/components/DataTableCard';

export default {
  name: 'Dashboard',
  components: {
    DataTableCard
  },
  data() {
    return {
      irModel: IncidentReportModel,
      rideModel: RideModel
    };
  },
  methods: {
    handleIRRowClick(event) {
      this.$router.push({
        name: 'IncidentReportDetail',
        params: { id: event.targetID }
      });
    },
    handleRideRowClick(event) {
      this.$router.push({ name: 'RideDetail', params: { id: event.targetID } });
    },
    handleIDClick(event) {
      routeByID(this, event.event);
    }
  },
  computed: {
    rides() {
      return this.$store.getters.rides(0, 7);
    },
    incidentReports() {
      return this.$store.getters.incidentReports(0, 5);
    }
  },
  created() {
    // this.$store.dispatch('updateIncidentReports');
    // this.$store.dispatch('updateRides');
  }
};
</script>

<style lang="scss" scoped></style>
