<template>
  <div class="content-ctrl">
    <h2 class="is-size-2">Incident Report {{ this.incidentReport.id }}</h2>

    <div class="field">
      <label for="ride_id" class="label has-text-left">Ride ID</label>
      <input class="input" name="ride_id" v-model="rideID" />
    </div>

    <div class="field">
      <label for="vehicle_id" class="label has-text-left">Vehicle ID</label>
      <input class="input" name="vehicle_id" v-model="vehicleID" />
    </div>

    <div class="field">
      <label for="location_id" class="label has-text-left">Location ID</label>
      <input class="input" name="location_id" v-model="locationID" />
    </div>

    <div class="field">
      <label for="description" class="label has-text-left">Description</label>
      <textarea class="textarea" name="description" v-model="description" />
    </div>

    <div class="field">
      <label for="type" class="label has-text-left">Type</label>
      <input class="input" name="type" v-model="type" />
    </div>

    <div class="field">
      <label for="police_report" class="label has-text-left"
        >Police Report</label
      >
      <input class="input" name="police_report" v-model="policeReport" />
    </div>

    <div class="field">
      <label for="incident_datetime" class="label has-text-left"
        >Incident Date</label
      >
      <flat-pickr
        v-model="incidentDateTime"
        :config="flatpickrOptions"
        class="input"
        name="incident_datetime"
      >
      </flat-pickr>
    </div>

    <div class="btn-controller" v-if="isDirty">
      <button type="button" class="button is-success" @click="updateIR">
        Update
      </button>
    </div>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

export default {
  name: 'IncidentReportEdit',
  components: {
    flatPickr
  },
  data() {
    return {
      flatpickrOptions: {
        dateFormat: 'n/j/Y h:i:S K',
        enableTime: true
      }
    };
  },
  computed: {
    incidentReport() {
      return this.$store.getters.incidentReportByID(this.$route.params.id);
    },
    incidentReportChanges() {
      return this.$store.getters.incidentReportChanges(this.$route.params.id);
    },
    mergedIncidentReport() {
      let oldIncidentReport = this.incidentReport;

      let IRChanges = this.incidentReportChanges[0];

      if (IRChanges) {
        for (const [key, value] of Object.entries(IRChanges)) {
          oldIncidentReport[key] = value;
        }
      }

      return oldIncidentReport;
    },
    rideID: {
      get() {
        return this.mergedIncidentReport.ride_id;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'ride_id',
          val: val
        });
      }
    },
    vehicleID: {
      get() {
        return this.mergedIncidentReport.vehicle_id;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'vehicle_id',
          val: val
        });
      }
    },
    locationID: {
      get() {
        return this.mergedIncidentReport.location_id;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'location_id',
          val: val
        });
      }
    },
    description: {
      get() {
        return this.mergedIncidentReport.description;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'description',
          val: val
        });
      }
    },
    type: {
      get() {
        return this.mergedIncidentReport.type;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'type',
          val: val
        });
      }
    },
    policeReport: {
      get() {
        return this.mergedIncidentReport.police_report;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'police_report',
          val: val
        });
      }
    },
    incidentDateTime: {
      get() {
        return this.mergedIncidentReport.incident_datetime;
      },
      set(val) {
        this.$store.dispatch('updateIncidentReport', {
          id: this.incidentReport.id,
          slug: 'incident_datetime',
          val: val
        });
      }
    },
    isDirty() {
      return this.incidentReportChanges.length > 0;
    }
  },
  methods: {
    updateIR() {
      this.$store
        .dispatch('syncIR', this.$route.params.id)
        .then(() => {
          this.$router.replace('./');

          this.$buefy.toast.open({
            duration: 5000,
            message: `IncidentReport ${this.$route.params.id} updated!`,
            position: 'is-bottom',
            type: 'is-success'
          });
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

<style lang="scss" scoped>
.content-ctrl {
  margin-bottom: 10px;
}

.btn-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>
