<template>
  <div class="content-container">
    <h2 class="is-size-2">Incident Report {{ irID }}</h2>
    <div class="columns">
      <div class="column is-one-third" v-if="this.incidentReport">
        <h3 class="is-size-3">Ride Information</h3>
        <FakeInput :label="'Ride ID'" :value="this.incidentReport.ride_id" />
        <h3 class="is-size-3">Vehicle Information</h3>
        <div v-if="this.associatedVehicle">
          <FakeInput :label="'Vehicle ID'" :value="this.associatedVehicle.id" />
          <FakeInput :label="'Make'" :value="this.associatedVehicle.make" />
          <FakeInput :label="'Model'" :value="this.associatedVehicle.model" />
        </div>

        <h3 class="is-size-3">Incident Details</h3>
        <div v-if="this.incidentLocation">
          <FakeInput :label="'Location'" :value="this.incidentLocation" />
        </div>
        <FakeInput
          :label="'Description'"
          :value="this.incidentReport.description || 'No Description Added'"
        />
      </div>
      <div class="column is-two-thirds">
        <DataTableCard
          :cardTitle="'Associated Work Orders'"
          :data="this.associatedWorkOrders"
          :dataModel="workOrderModel"
          @rowClick="handleRowClick"
          @idClick="handleIDClick"
        />
      </div>
    </div>
    <ButtonGroup @onDelete="onDelete" />
  </div>
</template>

<script>
import FakeInput from '@/components/FakeInput';
import WorkOrderModel from '../models/WorkOrderIRPage';
import routeByID from '../router/routeByID';
import ButtonGroup from '@/components/ButtonGroup';
import DataTableCard from '@/components/DataTableCard';

export default {
  name: 'IncidentReportDetail',
  components: {
    FakeInput,
    DataTableCard,
    ButtonGroup
  },
  data() {
    return {
      irID: this.$route.params.id,
      workOrderModel: WorkOrderModel
    };
  },
  computed: {
    incidentReport() {
      let irData = this.$store.getters.incidentReportByID(
        this.$route.params.id
      );

      return irData;
    },
    associatedWorkOrders() {
      return this.$store.getters.workOrdersByIncidentReport(
        this.$route.params.id
      );
    },
    incidentLocation() {
      let locationData = this.$store.getters.locationByID(
        this.incidentReport.location_id
      );

      return locationData.borough;
    },
    associatedVehicle() {
      let vehicle = this.$store.getters.vehicleByID(
        this.incidentReport.vehicle_id
      );

      return vehicle;
    }
  },
  methods: {
    handleRowClick(event) {
      this.$router.push({
        name: 'WorkOrderDetail',
        params: { id: event.targetID }
      });
    },
    handleIDClick(event) {
      routeByID(this, event.event);
    },
    onDelete() {
      this.$buefy.dialog.confirm({
        title: 'Delete Incident Report',
        message: `Are you sure you want to <b>delete</b> incident report <b>${this.$route.params.id}</b>? This action cannot be undone.`,
        confirmText: 'Delete Incident Report',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          this.$store
            .dispatch('deleteIR', this.$route.params.id)
            .then(() => {
              this.$router.replace('./');
              this.$buefy.toast.open('Incident Report Deleted!');
            })
            .catch(err => console.log(err));
        }
      });
    }
  },
  created() {
    // this.$store.dispatch('getIncidentReportByID', this.$route.params.id);
    // this.$store.dispatch('getWorkOrdersByIncidentID', this.$route.params.id);
  }
};
</script>

<style lang="scss" scoped>
.button-container {
  display: flex;
  justify-content: center;

  & > button {
    margin-right: 10px;
  }
}
</style>
