<template>
  <div class="content-container">
    <DataTableCard
      :cardTitle="'Incident Reports'"
      :data="this.incidentReports"
      :dataModel="irModel"
      @rowClick="handleRowClick"
      @idClick="handleIDClick"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import IncidentReportModel from '../models/IncidentReport';
import routeByID from '../router/routeByID';
import DataTableCard from '@/components/DataTableCard';

export default {
  name: 'IncidentReports',
  components: {
    DataTableCard
  },
  data() {
    return {
      irModel: IncidentReportModel
    };
  },
  methods: {
    handleRowClick(event) {
      this.$router.push({
        name: 'IncidentReportDetail',
        params: { id: event.targetID }
      });
    },
    handleIDClick(event) {
      routeByID(this, event.event);
    }
  },
  computed: {
    incidentReports() {
      return this.$store.getters.incidentReports(0, 15);
    }
  },
  created() {
    // this.$store.dispatch('updateIncidentReports');
  }
};
</script>

<style lang="scss" scoped></style>
