<template>
  <div>
    <h2 class="is-size-2">Location Detail</h2>
    <div class="columns">
      <div class="column is-one-third" v-if="this.location">
        <FakeInput :label="'Location ID'" :value="this.location.id" />
        <FakeInput :label="'Borough'" :value="this.location.borough" />
        <FakeInput :label="'Location Zone'" :value="this.location.zone" />
        <FakeInput
          :label="'Service Zone'"
          :value="this.location.service_zone"
        />
      </div>
    </div>
  </div>
</template>

<script>
import FakeInput from '@/components/FakeInput';

export default {
  components: {
    FakeInput
  },
  computed: {
    location() {
      return this.$store.getters.locationByID(this.$route.params.id);
    }
  }
};
</script>

<style lang="scss" scoped></style>
