<template>
  <div class="content-container">
    <DataTableCard
      :cardTitle="'Recent Rides'"
      :data="this.rides"
      :dataModel="rideModel"
      @rowClick="handleRowClick"
      @idClick="handleIDClick"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import RideModel from '../models/Ride';
import routeByID from '../router/routeByID';
import DataTableCard from '@/components/DataTableCard';

export default {
  name: 'Rides',
  components: {
    DataTableCard
  },
  data() {
    return {
      rideModel: RideModel
    };
  },
  methods: {
    handleRowClick(event) {
      this.$router.push({ name: 'RideDetail', params: { id: event.targetID } });
    },
    handleIDClick(event) {
      routeByID(this, event.event);
    }
  },
  computed: {
    rides() {
      return this.$store.getters.rides(0, 15);
    }
  },
  created() {
    // this.$store.dispatch('updateRides');
  }
};
</script>

<style lang="scss" scoped></style>
