<template>
  <div>
    <h2 class="is-size-2">Ride Details</h2>
    <div class="columns">
      <div class="column is-one-third" v-if="this.ride">
        <h3 class="is-size-3">Ride Metadata</h3>
        <FakeInput :label="'Ride ID'" :value="this.ride._id" />
        <FakeInput
          :label="'Pickup Time'"
          :value="this.ride.tpep_pickup_datetime"
        />
        <FakeInput
          :label="'Dropoff Time'"
          :value="this.ride.tpep_dropoff_datetime"
        />

        <h3 class="is-size-3">Location Data</h3>
        <FakeInput
          :label="'Pickup Location'"
          :value="
            `${this.pickupLocation.borough} - ${this.pickupLocation.zone}`
          "
        />
        <FakeInput
          :label="'Pickup Location'"
          :value="
            `${this.dropoffLocation.borough} - ${this.dropoffLocation.zone}`
          "
        />
        <FakeInput
          :label="'Distance'"
          :value="`${this.ride.trip_distance} Miles`"
        />

        <h3 class="is-size-3">Other Ride Data</h3>
        <FakeInput
          :label="'Passenger Count'"
          :value="this.ride.passenger_count"
        />

        <h3 class="is-size-3">Payment Data</h3>
        <FakeInput :label="'Payment Type'" :value="this.paymentData.name" />
        <FakeInput :label="'Total'" :value="`$ ${this.ride.total_amount}`" />
      </div>
      <div class="column is-two-thirds" v-if="this.ride">
        <DataTableCard
          :cardTitle="'Associated Incident Reports'"
          :data="this.associatedIRs"
          :dataModel="incidentReportModel"
          @rowClick="handleIRRowClick"
          @idClick="handleIDClick"
        />
      </div>
    </div>
    <!-- <ButtonGroup /> -->
  </div>
</template>

<script>
import FakeInput from '@/components/FakeInput';
import routeByID from '../router/routeByID';
import IRModel from '../models/IncidentReportDetail';
// import ButtonGroup from '@/components/ButtonGroup';
import DataTableCard from '@/components/DataTableCard';

export default {
  name: 'RideDetail',
  components: {
    FakeInput,
    DataTableCard
  },
  data() {
    return {
      incidentReportModel: IRModel
    };
  },
  methods: {
    handleIRRowClick(event) {
      this.$router.push({
        name: 'IncidentReportDetail',
        params: { id: event.targetID }
      });
    },
    handleIDClick(event) {
      routeByID(this, event.event);
    }
  },
  computed: {
    ride() {
      return this.$store.getters.rideByID(this.$route.params.id);
    },
    pickupLocation() {
      return this.$store.getters.locationByID(this.ride.PULocationID);
    },
    dropoffLocation() {
      return this.$store.getters.locationByID(this.ride.DOLocationID);
    },
    paymentData() {
      return this.$store.getters.paymentByID(this.ride.payment_type);
    },
    associatedIRs() {
      return this.$store.getters.incidentReportByRideID(this.ride._id);
    }
  },
  created() {
    if (this.$store.getters.rideByID(this.$route.params.id).length === 0) {
      this.$store.dispatch('findRideByID', this.$route.params.id);
    }
  }
};
</script>

<style lang="scss" scoped></style>
