<template>
  <div>
    <h2 class="is-size-2">Vehicle Details</h2>
    <div class="columns">
      <div class="column is-two-thirds" v-if="this.vehicle">
        <FakeInput :label="'Vehicle ID'" :value="this.vehicle.id" />
        <FakeInput :label="'Year'" :value="this.vehicle.year" />
        <FakeInput :label="'Make'" :value="this.vehicle.make" />
        <FakeInput :label="'Model'" :value="this.vehicle.model" />
        <FakeInput
          :label="'License Plate'"
          :value="this.vehicle.license_plate"
        />
        <FakeInput
          :label="'Max Passengers'"
          :value="this.vehicle.max_passengers"
        />
        <FakeInput :label="'Active'" :value="this.vehicle.status" />
        <button class="button is-info" @click="useGraphQL">Use GraphQL</button>
      </div>

      <div class="column is-one-third">
        <button class="button is-success" @click="requestReport">
          Request Report
        </button>
      </div>
    </div>
    <!-- <ButtonGroup /> -->
  </div>
</template>

<script>
import FakeInput from '@/components/FakeInput';
import axios from 'axios';
// import ButtonGroup from '@/components/ButtonGroup';

export default {
  name: 'VehicleDetail',
  components: {
    FakeInput
  },
  computed: {
    vehicle() {
      return this.$store.getters.vehicleByID(this.$route.params.id);
    }
  },
  methods: {
    requestReport() {
      axios
        .get(
          `${process.env.VUE_APP_API_LOCATION}/reports/vehicle/${this.$route.params.id}`
        )
        .then(returnData => {
          this.downloadCSV(this.createCSV(returnData.data));
        })
        .catch(err => console.log(err));
    },
    createCSV(rawData) {
      let csvArr = [];

      const incidentReports = rawData.incidentReports;
      const rideReports = rawData.rides;

      csvArr.push(['Incident Reports:']);

      csvArr.push(['\n']);

      if (incidentReports.length > 0) {
        let headingRow = [];
        for (const key of Object.keys(incidentReports[0])) {
          headingRow.push(key);
        }
        csvArr.push(headingRow);
        csvArr.push(['\n']);

        incidentReports.forEach(ir => {
          let currentRow = [];
          headingRow.forEach(key => {
            currentRow.push(`${ir[key]}`);
          });
          csvArr.push(currentRow);
          csvArr.push(['\n', '\n']);
        });
      }

      csvArr.push(['Rides:']);

      csvArr.push(['\n']);

      if (rideReports.length > 0) {
        let headingRow = [];
        for (const key of Object.keys(rideReports[0])) {
          headingRow.push(key);
        }
        csvArr.push(headingRow);
        csvArr.push(['\n']);

        rideReports.forEach(ride => {
          let currentRow = [];
          headingRow.forEach(key => {
            currentRow.push(`${ride[key]}`);
          });
          csvArr.push(currentRow);
          csvArr.push(['\n']);
        });
      }

      return csvArr;
    },
    downloadCSV(csvContent) {
      var encodedUri = encodeURI(csvContent);
      var link = document.createElement('a');
      link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodedUri);
      link.setAttribute('download', 'report.csv');
      document.body.appendChild(link); // Required for FF

      link.click(); // This will download the data file named "my_data.csv".
      link.remove();
    },
    useGraphQL() {
      this.$router.push({
        name: 'VehicleDetailGraphQL',
        params: { id: this.$route.params.id }
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
