<template>
  <div class="content-container">
    <DataTableCard
      :cardTitle="'Vehicles'"
      :data="this.vehicles"
      :dataModel="vehicleModel"
      @rowClick="handleRowClick"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import DataTableCard from '@/components/DataTableCard';
import VehicleModel from '../models/Vehicle';

export default {
  name: 'Vehicles',
  data() {
    return {
      vehicleModel: VehicleModel
    };
  },
  components: {
    DataTableCard
  },
  methods: {
    handleRowClick(event) {
      this.$router.push({
        name: 'VehicleDetail',
        params: { id: event.targetID }
      });
    }
  },
  computed: {
    vehicles() {
      return this.$store.getters.vehicles(0, 15);
    }
  },
  created() {
    // this.$store.dispatch('updateVehicles');
  }
};
</script>

<style lang="scss" scoped></style>
