<template>
  <div class="content-container">
    <DataTableCard
      :cardTitle="'Work Orders'"
      :data="this.workOrders"
      :dataModel="woModel"
      @rowClick="handleRowClick"
      @idClick="handleIDClick"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import WorkOrderModel from '../models/WorkOrder';
import routeByID from '../router/routeByID';
import DataTableCard from '@/components/DataTableCard';

export default {
  name: 'WorkOrders',
  components: {
    DataTableCard
  },
  data() {
    return {
      woModel: WorkOrderModel
    };
  },
  methods: {
    handleRowClick(event) {
      this.$router.push({
        name: 'WorkOrderDetail',
        params: {
          id: event.targetID
        }
      });
    },
    handleIDClick(event) {
      routeByID(this, event.event);
    }
  },
  computed: {
    workOrders() {
      return this.$store.getters.workOrders(0, 15);
    }
  },
  created() {
    // this.$store.dispatch('updateWorkOrders');
  }
};
</script>
