<template>
  <div>
    <h2 class="is-size-2">Work Order {{ this.workOrder.id }}</h2>
    <div class="columns">
      <div class="column is-two-thirds" v-if="this.workOrder">
        <h3 class="is-size-3">Metadata</h3>
        <FakeInput :label="'Incident ID'" :value="this.workOrder.incident_id" />

        <FakeInput
          v-if="this.relatedIncident"
          :label="'Vehicle ID'"
          :value="this.relatedIncident.vehicle_id || 'Not Defined'"
        />
        <h3 class="is-size-3">Work Detail</h3>
        <FakeInput
          :label="'Work Description'"
          :value="this.workOrder.work_description"
        />
        <FakeInput
          :label="'Material Cost'"
          :value="this.workOrder.material_cost"
        />
        <FakeInput :label="'Labor Cost'" :value="this.workOrder.labor_cost" />
        <FakeInput
          :label="'Total Cost'"
          :value="this.workOrder.final_total_costs"
        />
        <FakeInput
          :label="'Notes'"
          :value="this.workOrder.additional_details"
        />
      </div>
      <div class="column is-one-third" v-if="this.workOrder">
        <h3 class="is-size-3">Approval Status</h3>

        <FakeInput
          :label="'Approval Status'"
          :value="this.workOrder.approval_status"
        />
        <FakeInput :label="'Approved By'" :value="this.workOrder.approved_by" />

        <div
          v-if="this.$store.getters.isAdmin || this.$store.getters.isApprover"
        >
          <button
            v-if="this.workOrder.approval_status !== 'approved'"
            class="button is-success"
            @click="approveWO"
          >
            Approve
          </button>
        </div>
      </div>
    </div>
    <ButtonGroup @onDelete="onDelete" />
  </div>
</template>

<script>
import FakeInput from '@/components/FakeInput';
import ButtonGroup from '@/components/ButtonGroup';

export default {
  name: 'WorkOrderDetail',
  components: {
    FakeInput,
    ButtonGroup
  },
  computed: {
    workOrder() {
      return this.$store.getters.workOrderByID(this.$route.params.id);
    },
    relatedIncident() {
      return this.$store.getters.incidentReportByID(this.workOrder.incident_id);
    }
  },
  methods: {
    onDelete() {
      this.$buefy.dialog.confirm({
        title: 'Delete Work Order',
        message: `Are you sure you want to <b>delete</b> work order <b>${this.$route.params.id}</b>? This action cannot be undone.`,
        confirmText: 'Delete Work Order',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          this.$store
            .dispatch('deleteWO', this.$route.params.id)
            .then(() => {
              this.$router.replace('./');
              this.$buefy.toast.open('Work Order Deleted!');
            })
            .catch(err => console.log(err));
        }
      });
    },
    approveWO() {
      this.$store
        .dispatch('approveWorkOrder', {
          id: this.$route.params.id,
          userID: this.$store.getters.userID,
          userRoles: this.$store.getters.userRoles
        })
        .then(() => {
          this.$buefy.toast.open('Work Order Approved!');
        })
        .catch(err => {
          if (err === 'unauthorized') {
            this.$buefy.toast.open({
              duration: 5000,
              message: `Unauthorized! Only Approvers and Admins can approve work orders!`,
              position: 'is-bottom',
              type: 'is-danger'
            });
          }
        });
    }
  },
  created() {}
};
</script>

<style lang="scss" scoped></style>
