<template>
  <div class="content-ctrl">
    <h2 class="is-size-2">Work Order {{ this.workOrder.id }}</h2>

    <div class="field">
      <label for="incident_id" class="label has-text-left">Incident ID</label>
      <input class="input" name="incident_id" v-model="incidentID" />
    </div>

    <div class="field">
      <label for="work_description" class="label has-text-left"
        >Work Description</label
      >
      <textarea
        class="textarea"
        name="work_description"
        v-model="workDescription"
      />
    </div>

    <div class="field">
      <label for="material_cost" class="label has-text-left"
        >Material cost</label
      >
      <input class="input" name="material_cost" v-model="materialCost" />
    </div>

    <div class="field">
      <label for="labor_cost" class="label has-text-left">Labor Cost</label>
      <input class="input" name="labor_cost" v-model="laborCost" />
    </div>

    <div class="field">
      <label for="final_total_costs" class="label has-text-left"
        >Total Cost</label
      >
      <input
        class="input"
        name="final_total_costs"
        v-model="workOrder.final_total_costs"
        disabled
      />
    </div>

    <div class="field">
      <label for="start_date" class="label has-text-left">Start Date</label>
      <flat-pickr
        v-model="startDate"
        :config="flatpickrOptions"
        class="input"
        name="start_date"
      >
      </flat-pickr>
    </div>

    <div class="field">
      <label for="end_date" class="label has-text-left">End Date</label>
      <flat-pickr
        v-model="endDate"
        :config="flatpickrOptions"
        class="input"
        name="end_date"
      >
      </flat-pickr>
    </div>

    <div class="field">
      <label for="additional_details" class="label has-text-left"
        >Additional Details</label
      >
      <textarea class="textarea" name="additional_details" v-model="details" />
    </div>

    <div class="btn-controller" v-if="isDirty">
      <button class="button is-success" @click="updateWO">Update</button>
    </div>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

export default {
  name: 'WorkOrderDetailEdit',
  components: {
    flatPickr
  },
  data() {
    return {
      flatpickrOptions: {
        dateFormat: 'n/j/Y'
      }
    };
  },
  computed: {
    workOrder() {
      return this.$store.getters.workOrderByID(this.$route.params.id);
    },
    workOrderChanges() {
      return this.$store.getters.workOrderChanges(this.$route.params.id);
    },
    mergedWorkOrder() {
      let oldWorkOrder = this.workOrder;

      let WOChanges = this.workOrderChanges[0];

      if (WOChanges) {
        for (const [key, value] of Object.entries(WOChanges)) {
          oldWorkOrder[key] = value;
        }
      }

      return oldWorkOrder;
    },
    incidentID: {
      get() {
        return this.mergedWorkOrder.incident_id;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'incident_id',
          val: val
        });
      }
    },
    workDescription: {
      get() {
        return this.mergedWorkOrder.work_description;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'work_description',
          val: val
        });
      }
    },
    materialCost: {
      get() {
        return this.mergedWorkOrder.material_cost;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'material_cost',
          val: val
        });
      }
    },
    laborCost: {
      get() {
        return this.mergedWorkOrder.labor_cost;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'labor_cost',
          val: val
        });
      }
    },
    startDate: {
      get() {
        return this.mergedWorkOrder.start_date;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'start_date',
          val: val
        });
      }
    },
    endDate: {
      get() {
        return this.mergedWorkOrder.end_date;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'end_date',
          val: val
        });
      }
    },
    details: {
      get() {
        return this.mergedWorkOrder.additional_details;
      },
      set(val) {
        this.$store.dispatch('updateWorkOrder', {
          id: this.workOrder.id,
          slug: 'additional_details',
          val: val
        });
      }
    },
    isDirty() {
      let woUpdates = this.$store.getters.pendingWOUpdates.filter(
        woUpdate => woUpdate.id === this.$route.params.id
      );
      return woUpdates.length > 0;
    }
  },
  methods: {
    updateTotalCost() {
      this.workOrder.final_total_costs =
        parseFloat(this.workOrder.material_cost) +
        parseFloat(this.workOrder.labor_cost);
    },
    updateWO() {
      this.$store
        .dispatch('syncWO', this.$route.params.id)
        .then(() => {
          this.$router.replace('./');
          this.$buefy.toast.open({
            duration: 5000,
            message: `Work Order ${this.$route.params.id} updated!`,
            position: 'is-bottom',
            type: 'is-success'
          });
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

<style lang="scss" scoped>
.content-ctrl {
  margin-bottom: 10px;
}

.btn-controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>
