<template>
  <div>
    <h2>This is your first created route</h2>
    <button @click="goTo('/')">Go to Home</button>
    <button @click="goTo('/about')">Go to About</button>
    <button @click="goBack">Go Back</button>
  </div>
</template>

<script>
export default {
  methods: {
    goTo(route) {
      this.$router.push(route);
    },
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style></style>
