<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <my-first-component></my-first-component>
  </div>
</template>

<script>

import MyFirstComponent from '../components/MyFirstComponent.vue'

export default {
  name: 'Home',
  components: {
    MyFirstComponent
  }
}
</script>
