<template>
  <div id="app">
    <Navbar />
    <div class="page-container">
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';

export default {
  components: {
    Navbar
  },
  created() {
    this.$store.dispatch('setUserProfile', this.$keycloak.tokenParsed);
    this.$store.dispatch('updateRides');
    this.$store.dispatch('updateVehicles');
    this.$store.dispatch('updateIncidentReports');
    this.$store.dispatch('updateWorkOrders');
    this.$store.dispatch('updateLocations');
    this.$store.dispatch('updateRateCodes');
    this.$store.dispatch('updatePayments');
  }
};
</script>

<style lang="scss">
.page-container {
  width: 80%;
  margin-left: 10%;
}

.box {
  border: 1px solid #d1d1d1;
}

.content-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1d1d1;
}
</style>
