<template>
  <div class="button-container" v-if="this.$store.getters.isAdmin">
    <router-link
      tag="button"
      class="button is-info"
      :to="{ path: './edit' }"
      append
    >
      Edit Report
    </router-link>
    <button class="button is-danger" @click="emitDelete">Delete Report</button>
  </div>
</template>

<script>
export default {
  name: 'ButtonGroup',
  methods: {
    emitDelete() {
      this.$emit('onDelete');
    }
  }
};
</script>

<style lang="scss" scoped>
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  & > button {
    margin-right: 10px;
  }
}
</style>
