<template>
  <div class="box">
    <h3 class="is-size-3">{{ this.cardTitle }}</h3>

    <div v-if="isReadyToShowData">
      <DataTable
        :tableData="this.data"
        :schemaOverview="this.dataModel"
        :outputRowClick="true"
        @rowClick="handleRowClick"
        @idClick="handleIDClick"
      />
    </div>
    <div v-if="isReadyToShowData === false" class="loading-container">
      <i class="fas fa-circle-notch fa-5x fa-spin"></i>
    </div>
  </div>
</template>

<script>
import { DataTable } from '@spathelab/ui-component-lib';

export default {
  name: 'DataTableCard',
  components: {
    DataTable
  },
  props: {
    cardTitle: String,
    data: Array,
    dataModel: Array
  },
  data() {
    return {};
  },
  computed: {
    isReadyToShowData() {
      return this.data.length > 0 ? true : false;
    }
  },
  methods: {
    /**
     * Pass the event to the parent
     */
    handleRowClick(event) {
      this.$emit('rowClick', event);
    },
    /**
     * Pass the event to the parent
     */
    handleIDClick(event) {
      this.$emit('idClick', event);
    }
  }
};
</script>

<style lang="scss" scoped></style>
