<template>
  <div class="input-container">
    <p class="input-label">{{ label }}</p>
    <b-tooltip :label="tooltip" type="is-dark" position="is-right" :delay="500">
      <div class="value-container">
        <p>{{ value || 'Not Provided' }}</p>
      </div>
    </b-tooltip>
  </div>
</template>

<script>
export default {
  name: 'FakeInput',
  props: {
    label: String,
    value: [String, Number, Boolean]
  },
  computed: {
    tooltip() {
      if (this.$store.getters.isAdmin) {
        return 'To edit this value, click the edit button below';
      } else {
        return 'Only admin users can make changes to data';
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.value-container {
  width: 95%;
  margin-left: 5%;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 5px;
  color: #8b8b8b;
  cursor: no-drop;
}
</style>
