<template>
  <div class="width-constraint">
    <b-navbar>
      <template slot="brand">
        <b-navbar-item
          tag="router-link"
          class="logo-container prevent-active"
          :to="{ path: '/' }"
        >
          <img
            class="logo-img"
            src="../assets/cabbi-logo.png"
            alt="Cabbi Logo"
          />
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" :to="{ path: '/' }" exact>
          Dashboard
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'Rides' }">
          Rides
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'Vehicles' }">
          Vehicles
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'IncidentReports' }">
          Incident Reports
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ name: 'WorkOrders' }">
          Work Orders
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-dropdown :label="getFullName">
          <!-- <b-navbar-item tag="router-link" :to="{ name: 'Profile' }">
            Profile
          </b-navbar-item> -->
          <b-navbar-item @click="logoutUser()">
            Logout
          </b-navbar-item>
        </b-navbar-dropdown>
      </template>
    </b-navbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Navbar',
  computed: {
    ...mapGetters(['getFullName'])
  },
  methods: {
    logoutUser() {
      this.$keycloak.logoutFn();
    }
  }
};
</script>

<style lang="scss" scoped>
.logo-container {
  height: 100%;
  margin: 0;
}

.logo-img {
  height: 100%;
  margin: 0;
}

.width-constraint {
  width: 100%;
  margin-left: 0%;
}

.header-link {
  font-size: 1.2rem;
  margin-right: 15px;
}

.header-icon {
  padding-right: 25px;
}

.router-link-active {
  color: #3676dc;
  border-bottom: 2px solid #3676dc;
}

.prevent-active {
  color: #ffffff;
  border-bottom: 2px solid transparent;
}
</style>
