<template>
  <div>
    <h4>{{ name }}'s favorite hobby is {{ hobby }}</h4>

    <div>
      <label>Not your name? Want cooler name? Re-enter here: </label>
      <input type="text" v-model="newName" />
      <button @click="this.$emit('change-name', this.newName)">
        Change Name
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "MySecondComponent",
  data() {
    return {
      newName: "",
    };
  },
  props: {
    hobby: String,
    name: String,
  },
};
</script>

<style>
</style>